@use '../../styles/variables' as v;

.form {
  display: flex;
  background-color: #ffffff;

  &-input {
    flex-grow: 1;
    border: none;
    height: 2.5rem;
    padding: 0 1rem;
    outline: none;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
  }

  &-button {
    border: none;
    background-color: transparent;
    color: v.$text-blue;
    cursor: pointer;
    transition: all 0.2s;
  }

  &-input:focus + &-button {
    background-color: v.$text-blue;
    color: #ffffff;
  }
}
