@use '../../styles/variables' as v;

.App {
  max-width: 30rem;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: v.$light-blue;
  border-left: solid 1px black;
  border-right: solid 1px black;
}
