@use '../../styles/variables' as v;

.settings {
  font-family: 'Courier New', sans-serif;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  gap: 1rem;
  margin: 1rem;
  animation: slidein 500ms ease 0s 1 normal forwards;

  &__button {
    width: 2rem;
    height: 2rem;

    background-color: #ffffff;
    color: v.$text-violet;
    border: none;
    border-radius: 50% 50% 50% 50%;

    &:hover {
      transform: scale(1.1);
      transition: transform 300ms ease;
      animation: none;
    }

    &.spin {
      animation: spin 500ms ease 0s 1 normal forwards;
    }

    &.spinout {
      animation: spinout 500ms ease 0s 1 normal forwards;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;

    &-input {
      padding: 5px;
      border: none;
      border-radius: 5px;
    }
    &-button {
      color: #ffffff;
      padding: 5px;
      border: none;
      background-color: v.$text-violet;
      border-radius: 5px;
    }
  }
}

.settings--hidden {
  animation: slideout 500ms ease 0s 1 normal forwards;
}

@keyframes slidein {
  0% {
    transform: translateX(230px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideout {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(230px);
  }
}

@keyframes spin {
  0% {
    transform: rotate(225deg);
  }

  100% {
    transform: rotate(0);
  }
}

@keyframes spinout {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(225deg);
  }
}

// @keyframes scale {
//   0% {
//     transform: scale(1);
//   }
//   100% {
//     transform: scale(1.1);
//   }
// }
