.message {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: start;

  &-author {
    font-size: 1rem;
    margin-left: 5px;
    margin-bottom: 5px;
  }

  &-content {
    padding: 10px;
    max-width: 50%;
    border: solid 1px black;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px rgb(44, 44, 44);
  }
}
